<html>

<head>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/permanent.css">
</head>

<body>
    {{>searchBox}}
    <div class="waveAnimation waveWrapper" >    
            <div class="wave waveTop" style="background-image: url('./img/wave-top.png')"></div>
            <div class="wave waveMiddle" style="background-image: url('./img/wave-mid.png')"></div>
            <div class="wave waveBottom" style="background-image: url('./img/wave-bot.png')"></div>
    </div>

    

</body>


</html>