<div class="searchBox">

  <div class="dropdown">
    <div class="select">
      <span>נקודתי</span>
      <i class="fa fa-chevron-left"></i>
    </div>
    <input value="point" type="hidden" name="gender">
    <ul class="dropdown-menu">
      <li id="point">נקודתי</li>
      <li id="general">כללי</li>
    </ul>
  </div>
  <input id="searchTextField" type="text" placeholder="חפש מקום">
  <i class="fas fa-search" id="searchIcon"></i>  
  <!-- <img src="/static/img/search.png" id="searchIcon"> -->
</div>

<script>
  /*Dropdown Menu*/
$('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });
/*End Dropdown Menu*/


$('.dropdown-menu li').click(function () {
  const typeClick = $(this).parents('.dropdown').find('input').val()

  if (typeClick=='general') {
    $('#searchTextField').attr("placeholder", "דוגמא: קניונים בתל אביב יפו");
  } else if (typeClick=='point') {
    $('#searchTextField').attr("placeholder", "חפש מקום");
  }
  
}); 
</script>