body {
    /* background-image: url('../img/google-bg.jpg'); */
    /* margin: 0; */
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

/* .input-group {
    width: 35%;
    margin: 0 auto;
    margin-top: 20%;
    /* border-radius: 50%; */
/* } */

#populationImg {
    display:flex;
    justify-content: center;
    height: 60px;
    margin-top: 14%;
    margin-bottom: 2%;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: invert(100%) drop-shadow(10px 10px 30px white); 
    /* filter: drop-shadow(1px 0px 0px white); */
}

.searchBox {
    /* margin-top: 20%; */
    /* width:100%;
    height:100%;
    align-items:center;
    display:flex;
    justify-content: center; */
}

input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #86377B;
    width: 30%;
    height: 38px;
    direction:RTL;
}

input:focus {
    outline: none;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 5 5 10 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    -moz-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
  }

  .pac-container {
      /* margin-top: 2px; */
      border-radius: 10px;
      background-color: transparent;
  }

  .pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;

}


  .pac-icon {
      float: right;
  }



@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
    z-index: 15;
    opacity: 0.25;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
    z-index: 10;
    opacity: 0.5;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
    z-index: 5;
    opacity: 0.75;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* Bootstrap NavBar */
