#topBar {
    height: 50px;
    width: 100%;
    margin: 0;
}

#populationImgDiv {
    float: right;
    width: 40px;
    margin-right: 1%;
    /* margin-top: 1%; */
}

#populationImg {
    width: 100%;
}

#locationAnimation {
    margin: 0;
    display: none;
    height: 60px;
    margin: auto;
    margin-bottom: -45px;
    margin-top: -5px;
    /* margin: auto auto;
    width: 200px; */
}


.searchBox {
    /* margin: 0 auto; */
    margin-top: 1%;
    margin-right: 35%;

    /* float: center; */
    width: 30%;
}

.searchBox input {
    height: 38px;
}

.searchBox input:focus {
    height: 38px;
}

.pac-container {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

#content {
    height: 580px;
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#mapid { 
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #86377B;
    border-right: 0;
    float: right;
 }

.places {
    position: absolute;
    height: 95%;
    width: 25%;
    background-color: #E6E4E0;
    
    background-image: linear-gradient(to top, #E6E4E0 20%, #D5D2CF 80%);
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px 2px #888888;
    /* border: 2px solid #86377B; */
    /* border-left: 0; */
    float: right;
    margin: 1%;
    padding: 15px;
}

.place {
    /* position: inherit; */
    height: 100px;
    width: 30%;
    border-bottom: 1px solid #fff;
    color: white;
    font-size: 15px;
    text-align: right;
    /* background-image: linear-gradient(to right, #86377b 20%, #27273c 80%); */
}

#place-name {
    /* float: right; */
}

.place-props {
    position: absolute;
    height: 90%;
    width: 20%;
    background-image: linear-gradient(to top, #EF5E18 20%, #E93600 50%);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #888888;
    /* border: 2px solid white; */
    float: left;
    margin: 2%;
    margin-right: 75%;
    /* margin-left: 2%; */
}


#button-wrapper {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 100px;
    /* border: 1px solid red; */
    top: 8px;
    margin-right: 46.3%;
    text-align: center;
}

.btn-minimize {
    /* display: block; */
  width: 45px;
  height: 45px;
  background-color: #85367A;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #888888;
  cursor: pointer;
  text-align: center;
    /* position: absolute; */
    
}

.btn-minimize:hover {
    background-color: #86377b;
    box-shadow: 0px 0px 5px 2px #888888;
}

.btn-minimize.btn-plus {
    background-color: #86377b;
}
.btn-minimize.btn-plus:hover {
    background-color: #85367A;
}

.fa-window-restore {
    color: white; 
    font-size: 20px; 
    padding: 5px;
}


 .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-image: linear-gradient(to right, #EF5E18 20%, #E93600 50%);
    color: white;
    width: 130px;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

 