p {
    margin: 0;
}

#topBar {
    height: 50px;
    width: 100%;
    margin: 0;
}

#populationImgDiv {
    float: right;
    width: 40px;
    margin-right: 1%;
    /* margin-top: 1%; */
}

#populationImg {
    width: 100%;
}

#locationAnimation {
    margin: 0;
    display: none;
    height: 60px;
    margin: auto;
    margin-bottom: -80px;
    margin-top: -5px;
    /* margin: auto auto;
    width: 200px; */
}

#locationAnimation {
    z-index: 1020;
    position: absolute;
    /* bottom: 10px; */
    height: 200px;
    /* border: 1px solid red; */
    top: 27%;
    margin-right: 43%;
    /* text-align: center; */
}


.searchBox {
    /* margin: 0 auto; */
    margin-top: 1%;
    margin-right: 35%;

    /* float: center; */
    width: 30%;
}

.searchBox input {
    height: 38px;
}

.searchBox input:focus {
    height: 38px;
}

.pac-container {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

#content {
    height: 580px;
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#mapid { 
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #86377B;
    border-right: 0;
    float: right;
 }

.places {
    /* position: absolute; */
    height: 100%;
    width: auto;
    direction: ltr;
    overflow-y: auto;
    /* background-image: linear-gradient(to top, #E6E4E0 20%, #D5D2CF 80%); */
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
    
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    
    /* border: 2px solid #86377B; */
    /* border-left: 0; */
    float: right;
    /* margin-top: 1%; */
    padding: 15px;
}

.place {
    /* position: inherit; */
    height: auto;
    min-height: 150px;
    width: 180px;
    background-color: #27273C;
    /* background-image: linear-gradient(to right, #EF5E18 20%, #E93600 50%); */
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px #888888;
    /* border-bottom: 1px solid #fff; */
    font-size: 15px;
    text-align: center;
    /* background-image: linear-gradient(to right, #86377b 20%, #27273c 80%); */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.placi {
    /* position: inherit; */
    height: auto;
    overflow-y: auto;
    width: 550px;
    background-color: #27273C;
    /* background-image: linear-gradient(to right, #EF5E18 20%, #E93600 50%); */
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px #888888;
    /* border-bottom: 1px solid #fff; */
    font-size: 15px;
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
    /* background-image: linear-gradient(to right, #86377b 20%, #27273c 80%); */
    /* margin-left: 240px; */
}

.placi:hover {
    /* cursor: pointer; */
}

.places :first-child.place {
    margin-top: 0;
}

.placeHover:hover {
    box-shadow: 0px 0px 4px 1px #888888;
    /* width: 200px;
    padding: 20px; */
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
    
}

.placeHover:hover #place-change {
    /* font-size: 25px; */
}

.propertiess {
    width: 300px; 
    height: auto; 
    float: right; 
    margin-right: 20px; 
    color: white; 
    text-align: right;
    border-left: white;
}

.addedText {
    display: none;
    direction: rtl;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid #86377B;
}

#google-icon-div {
    color: white;
    font-size: 17px;
}

#google-icon {
    height: 35px;
    margin: 10px;
}

.controlPlaceDiv {
    display: none;
    width: auto;
    height:50px;
    position: absolute;
    color: white;
    /* top: 20px; */
    margin: 15px;
    margin-top: 5;
}

.closePlace {
    margin-top:1.5px;
}

.minimizePlace {
    position:absolute; 
    font-size:12px;
    margin-left: 14px;
}

.minimizePlace:hover {
    cursor: pointer;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    /* transition: 0.3s ease; */
}


#place-name {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
    /* float: right; */
}

#place-type {
    color: white;
    font-size: 13px;
    font-style: italic;
    
    /* margin-top: 1px; */
}

@keyframes example {
    from {opacity: 1;}
    to {opacity: 0.4;}
  }

#place-change {
    color: white;
    font-size: 17px;
    margin-top: 10px;
    padding-bottom: 10px;
}

#google-street-view {
    /* float: left; */
    width: 250px;
    border-radius: 2px;
    /* box-shadow: 0px 0px 1px 1px #86377B; */
    margin: 10px;
    padding-top: 60px;
}


.margin-place {
    margin-right: 70%;
}

.addedPropsDiv {
    height: auto; 
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.propSpan {
    font-weight: bold; 
    margin-left: 7px;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.propData {
    overflow-y: auto;
    width: 100%;
    height: auto;
    max-height: 80px;
    padding: 3px;
    padding-top: 0;
    /* border-left: 1px solid #86377B; */
} .propData::-webkit-scrollbar {
    display: none;
}

#copyMessage {
    /* display: none; */
    float: left;
    color: #562F5B;
    font-size: 14px;
    border-radius: 20px;
    padding: 3px;
    padding-right: 6px;
    /* background-color: wheat; */
}

.propData:hover {
    /* font-size: 14px;
    box-shadow: 0px 0px 5px 1px #888888; */
}
#copyMessage:hover {
    /* display: block; */
    color: whitesmoke;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px 1px #888888; */
}
.propData:hover + #copyMessage {
    /* display: block; */
    color: whitesmoke;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px 1px #888888; */
}
.propData:hover::-webkit-scrollbar {
    display: block;
}

/* .propData:last-child {
    max-width: 190px;

} */

.place-props {
    /* position: absolute; */
    height: 150px;
    width: 200px;
    height: 90%;
    /* width: 17%; */
    /* background-color: white; */
    /* background-image: linear-gradient(to top, #EF5E18 20%, #E93600 50%); */
    background-color: #27273C;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #888888;
    float: left;
    /* border: 2px solid white; */
    /* margin: 2%; */
    /* margin-right: 70%; */
    margin-left: 2%;
}


#button-wrapper {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 100px;
    /* border: 1px solid red; */
    top: 8px;
    margin-right: 46.3%;
    text-align: center;
}

.placeButtons {
    display: none;
    /* position: absolute; */
    /* margin-left: 20px; */
    color: whitesmoke;
    width: 150px;
    height: 85px; 
    margin-left: 8%;
}

.placeButton {
    font-size: 20px;
    margin: 15px;

    /* margin-top: 15%; */
    color: aqua;
}.placeButton.fa-cloud-sun{
    color: yellowgreen;
}.placeButton.fa-images{
    color: burlywood;
}.placeButton.fa-google{
    color: brown;
    margin-top: 0;
}.placeButton.fa-calendar-day{
    font-size: 22px;
    color: blueviolet;
    margin-top: 0;
}

.placeButton:hover {
    -webkit-transform: rotateZ(-20deg) scale(1.4);
    -ms-transform: rotateZ(-20deg) scale(1.4);
    transform: rotateZ(-20deg) scale(1.4);
    transition: 0.1s ease;
    cursor: pointer;
}

#image-placeholder {
    display: none;
}

.chartDiv {
    display: none;
    margin-left: 20px;
    margin-right: 10px; 
    height: auto; 
    margin-top: 1%;
    float: left;
}

.btn-minimize {
    /* display: block; */
  width: 45px;
  height: 45px;
  background-color: #27273C;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #888888;
  cursor: pointer;
  text-align: center;
    /* position: absolute; */
    
}

.btn-minimize:hover {
    background-color: #86377b;
    box-shadow: 0px 0px 5px 2px #888888;
}

.btn-minimize.btn-plus {
    background-color: #86377b;
}
.btn-minimize.btn-plus:hover {
    background-color: #85367A;
}

.fa-window-restore {
    color: white; 
    font-size: 20px; 
    padding: 5px;
}


 .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-image: linear-gradient(to right, #EF5E18 20%, #E93600 50%);
    color: white;
    width: 130px;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }

.propData::-webkit-scrollbar {
width: 6px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .propData::-webkit-scrollbar-track {
    background: none;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



 