#populationImg, #locationAnimation {
    height: 60px;
    margin-top: 16%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#locationAnimation {
    display: none;
    height: 120px;
    /* margin: auto auto;
    width: 200px; */
}

.searchBox {
    margin: 0 auto;
    width: 30%;
}


.searchBox input {
    height: 38px;
}

.searchBox input:focus {
    height: 38px;
}
 
/* Live data div */

.live-data {
    display: none;
    align-items: center;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    width: 70%;
    border-radius: 20px;
    border: 2px solid #86377B;
    color: wheat;
}

#report {
    font-size: 50px;
    flex-grow: 1;
}

#date {
    font-size: 12px;
    font-style: italic;
    float: right;
    align-self: flex-end;
}

#container {
    height: 500px;
    background-color: transparent;
}