body {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

#populationImg {
    display:flex;
    -webkit-filter: invert(100%) drop-shadow(10px 10px 30px white); 
    /* filter: drop-shadow(1px 0px 0px white); */
}

.searchBox {
    display: flex;
    border-radius: 20px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border: 2px solid #86377B;
    background-color: white;
}

.searchBox input {
    padding: 10px;
    background-color: transparent;
    border: 0;
    width: 100%;
    direction:RTL;
}

.searchBox input:focus {
    outline: none;
    border-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    border: 2px solid white;
    box-shadow: 5 5 10 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    -moz-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
  }

#searchTextField::placeholder {
    /* font-style: italic; */
}

#searchIcon {
    color: #85367A;
    height: 18px;
    margin: 9px;
    margin-top: 12px;
}


/*Styling Selectbox*/
.dropdown {
    width: 150px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    max-height: 38px;
    max-width: 150px;
    text-align: left;
    font-weight: 500;
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
      padding: 9px;
      text-align: center;
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .dropdown:active {
      background-color: #f8f8f8;
      
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-bottom-right-radius: 5px;
      /* border-radius: 5px 5px 0 0; */
      background-color: #f8f8f8
  }
  .dropdown:focus {
      outline: 0;
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 5px 5px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9;
      text-align: center;
      
  }
  .dropdown .dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
  }
  .dropdown .dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .dropdown .dropdown-menu li:active {
      background-color: #e2e2e2
  }

 .dropdown-menu {
    min-width: 60px !important;
    margin: 0 !important;
    font-size: 14px;
  }

 .fa-chevron-left {
     padding: 2px;
 }



/* Google Autocomplete  */

.pac-container {
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    background-color: transparent;
    color: white;
}
  
.pac-container:after {
/* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
background-image: none !important;
height: 0px;
}

.pac-item {
    border-top: 0px;
}
.pac-item:hover {
    background: #27273c;
}
.pac-item-query{
    color:white;
}
.pac-item-selected {
    background: #27273c;
}
.pac-icon {
    float: right;
}



