body {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

#populationImg {
    display:flex;
    -webkit-filter: invert(100%) drop-shadow(10px 10px 30px white); 
    /* filter: drop-shadow(1px 0px 0px white); */
}

.searchBox {
    display: flex;
    border-radius: 20px;
    border: 2px solid #86377B;
    background-color: white;
}

.searchBox input {
    padding: 10px;
    background-color: transparent;
    border: 0;
    width: 100%;
    direction:RTL;
}

.searchBox input:focus {
    outline: none;
    border-radius: 20px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    border: 2px solid white;
    box-shadow: 5 5 10 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    -moz-box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
    box-shadow: 0px 0px 30px 10px rgba(195,155,189,0.79);
  }

#searchIcon {
    color: #85367A;
    height: 18px;
    margin: 9px;
    margin-top: 12px;
}

/* Google Autocomplete  */

.pac-container {
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    background-color: transparent;
    color: white;
}
  
.pac-container:after {
/* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
background-image: none !important;
height: 0px;
}

.pac-item {
    border-top: 0px;
}
.pac-item:hover {
    background: #27273c;
}
.pac-item-query{
    color:white;
}
.pac-item-selected {
    background: #27273c;
}
.pac-icon {
    float: right;
}



