<html dir="rtl">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="/static/css/permanent.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">


    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>


    <script src="https://kit.fontawesome.com/fc984ea31b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&language=he"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script>

    </script>

<body>
    <div class="mapContent">

    <div id="topBar">

        <a href="./" id="populationImgDiv">
            <img src="/static/img/location1.png" id="populationImg">
        </a>

        {% include '/partials/searchBox.html' %}
    </div>

    <!-- <div id="locationAnimation"></div> -->
    
        <div id="content">
            <div id="mapid">
                <div class="leaflet-control placeImage"></div>
            </div>
            <div id="places" class="places leaflet-control">
            </div>
        </div>
        <!-- <div class="footCircle"></div> -->
    </div>
    <!-- <div class="generalView">
        <div class="shortlyPlaces">
            <div class="shortPlace"></div>
            <div class="shortPlace"></div>
        </div>
    </div> -->
    
    <script src="/static/js/handleLocalStorage.js"></script>
    <script src="/static/js/placeClass.js"></script>
    <script>
        $('.leaflet-control').hide()
    </script>
    <script src="/static/js/chartJs.js"></script>

    <script src="/static/js/placeCube.js"></script>
    <script src="/static/js/delivery.js"></script>
    <script src="/static/js/leafletMap.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script src="/static/js/searchPlace.js"></script>
    <script src="/static/js/buttons.js"></script>
    <script>
        const placeName = '{{ placeName }}'
        const query = '{{ query }}'

        if (query != '') {
            loadDashboardStyle()
            getLiveOfList(query, (lastMainDiv) => {
                $('#mapid').css({'animation':'example 1s 0 alternate'});
                $('.places').css({'animation':'example 1s 0 alternate'});
                document.getElementById("searchTextField").disabled = false;
                $('#searchTextField').val('');
                console.log('in callback')
                $(".places").html(lastMainDiv)
            })
        } else {
            addMarker(placeName, () => {
                // clickPlaceDiv()
                $(".places").html(createPlaceCube(placeName) + $(".places").html())
            })
        }
        
        // $(".places").html(createPlaceCube(placeName) + $(".places").html())

        animation();
        $('.leaflet-control').show()
        $('.placeImage').hide()
        $('.leaflet-control-attribution').hide();


    </script>
    <script>




    </script>
</body>


</html>